/* nav-style */
#nav-logo {
  color: #fd7e14;
}
#nav-text {
  color: #fd7e14;
  font-weight: bolder;
}
/* shopnow-style */
#order-now {
  background-color: rgb(122, 72, 10);
  border: none;
  font-weight: bold;
  padding: 10px;
  width: 140px;
  color: aliceblue;
  border-radius: 7px;
}

/* advertice style */
#ad-section {
  background-color: #fd7e14;
  color: aliceblue;
  padding: 100px;
}
/* deal of the day style */
#deal-content {
  color: aliceblue;
  background-color: #fd7e14;
  padding: 100px;
}
/* about style of text */
#about-text {
  line-height: 1;
  width: 100%;
  text-indent: 50px;
}
/* input style */
#search-input {
  color: aliceblue;
}
#sale-section {
  padding: 100px;
}
/* hero-section */
#hero-section {
  padding: 50px;
}
/* laod more button */
#load-more {
  color: #fd7e14;
  padding: 10px;
  width: 150px;
  border: #fd7e14;
  font-weight: bold;
  border-radius: 2px;
}
#sale-section-p {
  padding: 100px;
}

#discription {
  padding: 100px;
}
#check-out {
  padding: 70px;
  display: flex;
  justify-content: center;
} /* Make the image in the hero section hide when you resize */
#payment {
  padding: 50px;
  width: 350px;
  line-height: 2;
  padding-right: 120px;
}
#radio-text {
  padding: 40px;
  display: flex;
  flex-direction: row;
}
#birthday-section {
  padding: 50px;
  margin-top: 100px;
  background-color: #42403e;
  color: aliceblue;
  text-align: center;
}
#mothers-section {
  padding: 30px;
  background-color: #42403e;
  color: aliceblue;
}
#mothers-text {
  padding-left: 20px;
}
#mothers-text h2 {
  font-size: 60px;
  color: #fd7e14;
}
#mothers-text p {
  font-size: 28px;
  font-family: sans-serif;
}
#best-seller {
  padding: 100px;
}
#order-text {
  color: #fd7e14;
  background-color: #42403e;
  padding: 20px;
}

/* fixed css */

/* Hero-Section */
#shop-hero-btt {
  padding: 20px;
  border-radius: 5px;
  border-color: orange;
  background-color: black;
}
/* from shop-now */
#shop-now-btt {
  margin-top: 10px;
  margin-bottom: 10px;
  color: aliceblue;
  font-weight: bold;
  padding: 10px;
  width: 140px;
  background-color: #813f09;
}
#hero-image {
  background-color: #fd7e14;
  border-radius: 5px;
}

/* Setion A */
#hero-background {
  background-color: rgb(226, 117, 7);
}
#section-a {
  background-color: rgb(226, 117, 7);
  padding: 100px;
}
#button-hover {
  transition: all 1.2s ease-out;
}
#button-hover:hover {
  border-radius: 10px;
  box-shadow: 10px 10px 139px -16px rgba(221, 131, 24, 0.75);
  -webkit-box-shadow: 10px 10px 139px -16px rgba(221, 131, 24, 0.75);
  -moz-box-shadow: 10px 10px 139px -16px rgba(221, 131, 24, 0.75);
  cursor: pointer;
}
#shop-btt-hover {
  transition: all 1s ease;
  color: rgb(249, 251, 252);
  padding: 10px;
  width: 150px;
  border: #fd7e14;
  font-weight: bold;
  background-color: #c4b3a4;
  border-radius: 5px;
}
#shop-btt-hover:hover {
  background-color: #fd7e14;
  color: aliceblue;
  box-shadow: 10px 10px 124px -22px rgba(14, 9, 3, 0.63);
  -webkit-box-shadow: 10px 10px 124px -22px rgba(14, 9, 3, 0.63);
  -moz-box-shadow: 10px 10px 124px -22px rgba(14, 9, 3, 0.63);
}
#birthday-image {
  display: flex;
  justify-content: flex-start;
  width: 300px;
}
#coursel {
  padding: 80px;
}
#mother-image {
  width: 370px;
  display: flex;
  justify-content: center;
}
#bday {
  background-color: #42403e;
}
#order-table {
  padding: 0px;
}
